<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a class="backBtn" href="/index.html"><- Back</a>
    <div class="mid">
        <a-scene>
            <a-sky src="/images/winWin.png" rotation="0 -90 0"></a-sky>
          </a-scene>
    </div>
</body>
</html>